- title "Habitat"

%p
  %strong Name:
  = @habitat.name
%p
  %strong Description:
  = @habitat.description
%p
  %strong Photo File Name:
  = @habitat.photo_file_name
%p
  %strong Photo Content Type:
  = @habitat.photo_content_type
%p
  %strong Photo File Size:
  = @habitat.photo_file_size
%p
  %strong Photo Updated At:
  = @habitat.photo_updated_at

%p
  = link_to "Edit", edit_habitat_path(@habitat)
  |
  = link_to "Destroy", @habitat, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", habitats_path
