- title "Species"

%p
  %strong Name:
  = @species.name
%p
  %strong Description:
  = @species.description
%p
  = image_tag @species.photo.url(:medium)
%p
  = link_to "Edit", edit_species_path(@species)
  |
  = link_to "Destroy", @species, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", species_path
