= form_for @animal do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :description
    %br
    = f.text_area :description
  %p
    = select('animal', 'species_id', Species.all.collect {|s| [ s.name, s.id ] })
  %p
    = select('animal', 'habitat_id', Habitat.all.collect {|h| [ h.name, h.id ] })
  %p
    = f.label :photo_file_name
    %br
    = f.text_field :photo_file_name
  %p
    = f.label :photo_content_type
    %br
    = f.text_field :photo_content_type
  %p
    = f.label :photo_file_size
    %br
    = f.text_field :photo_file_size
  %p
    = f.label :photo_updated_at
    %br
    = f.text_field :photo_updated_at
  %p
    = f.submit
